* {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

.reactTest main {
  padding: 40px 0; }

.reactTest p {
  margin: 0; }

.reactTest .reactTest-logo {
  height: 30px;
  display: block; }

.reactTest .reactTest-header {
  background-color: #222;
  padding: 40px 0;
  color: white; }
  .reactTest .reactTest-header h2 {
    display: inline-block;
    font-size: 32px;
    font-weight: 400;
    margin: 40px 0 0; }

.reactTest .reactTest-container {
  max-width: 1024px;
  margin: 0 auto; }

.reactTest .reactTest-intro {
  font-size: large; }

.reactTest .reactTest-button {
  border: none;
  display: inline-block;
  padding: 8px 12px 12px;
  color: black;
  text-decoration: none;
  background: #F88B00;
  font-size: 14px;
  font-weight: 600; }
  .reactTest .reactTest-button + .reactTest-button {
    margin-left: 8px; }

.reactTest .reactTest-nav > ul {
  list-style: none;
  display: flex;
  flex: 1 1 auto;
  padding: 0; }
  .reactTest .reactTest-nav > ul > li {
    display: block;
    margin-right: 10px; }
    .reactTest .reactTest-nav > ul > li a {
      color: white; }

.reactTest .reactTest-products {
  padding: 0;
  margin: 40px -5px 0 -5px;
  list-style: none;
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap; }
  .reactTest .reactTest-products__item {
    display: block;
    padding: 0 5px;
    width: 25%;
    flex: 0 0 auto; }
    .reactTest .reactTest-products__item__image img {
      width: 100%;
      height: 120px;
      object-fit: cover; }
