* {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

.reactTest main {
  padding: 40px 0; }

.reactTest p {
  margin: 0; }

.reactTest .reactTest-margin--none {
  margin: 0; }

.reactTest .reactTest-margin--small {
  margin: 0.75rem; }

.reactTest .reactTest-margin--medium {
  margin: 1rem; }

.reactTest .reactTest-margin--large {
  margin: 1.75rem; }

.reactTest .reactTest-margin-top--none {
  margin-top: 0; }

.reactTest .reactTest-margin-top--small {
  margin-top: 0.75rem; }

.reactTest .reactTest-margin-top--medium {
  margin-top: 1rem; }

.reactTest .reactTest-margin-top--large {
  margin-top: 1.75rem; }

.reactTest .reactTest-margin-right--none {
  margin-right: 0; }

.reactTest .reactTest-margin-right--small {
  margin-right: 0.75rem; }

.reactTest .reactTest-margin-right--medium {
  margin-right: 1rem; }

.reactTest .reactTest-margin-right--large {
  margin-right: 1.75rem; }

.reactTest .reactTest-margin-bottom--none {
  margin-bottom: 0; }

.reactTest .reactTest-margin-bottom--small {
  margin-bottom: 0.75rem; }

.reactTest .reactTest-margin-bottom--medium {
  margin-bottom: 1rem; }

.reactTest .reactTest-margin-bottom--large {
  margin-bottom: 1.75rem; }

.reactTest .reactTest-margin-left--none {
  margin-left: 0; }

.reactTest .reactTest-margin-left--small {
  margin-left: 0.75rem; }

.reactTest .reactTest-margin-left--medium {
  margin-left: 1rem; }

.reactTest .reactTest-margin-left--large {
  margin-left: 1.75rem; }

.reactTest .reactTest-padding--none {
  padding: 0; }

.reactTest .reactTest-padding--small {
  padding: 0.75rem; }

.reactTest .reactTest-padding--medium {
  padding: 1rem; }

.reactTest .reactTest-padding--large {
  padding: 1.75rem; }

.reactTest .reactTest-padding-top--none {
  padding-top: 0; }

.reactTest .reactTest-padding-top--small {
  padding-top: 0.75rem; }

.reactTest .reactTest-padding-top--medium {
  padding-top: 1rem; }

.reactTest .reactTest-padding-top--large {
  padding-top: 1.75rem; }

.reactTest .reactTest-padding-right--none {
  padding-right: 0; }

.reactTest .reactTest-padding-right--small {
  padding-right: 0.75rem; }

.reactTest .reactTest-padding-right--medium {
  padding-right: 1rem; }

.reactTest .reactTest-padding-right--large {
  padding-right: 1.75rem; }

.reactTest .reactTest-padding-bottom--none {
  padding-bottom: 0; }

.reactTest .reactTest-padding-bottom--small {
  padding-bottom: 0.75rem; }

.reactTest .reactTest-padding-bottom--medium {
  padding-bottom: 1rem; }

.reactTest .reactTest-padding-bottom--large {
  padding-bottom: 1.75rem; }

.reactTest .reactTest-padding-left--none {
  padding-left: 0; }

.reactTest .reactTest-padding-left--small {
  padding-left: 0.75rem; }

.reactTest .reactTest-padding-left--medium {
  padding-left: 1rem; }

.reactTest .reactTest-padding-left--large {
  padding-left: 1.75rem; }

.reactTest .reactTest-hide {
  display: none; }

.reactTest .reactTest-show {
  display: block; }
  .reactTest .reactTest-show--inline-block {
    display: inline-block; }
  .reactTest .reactTest-show--inline {
    display: inline; }
  .reactTest .reactTest-show--flex {
    display: flex; }
  .reactTest .reactTest-show--inline-flex {
    display: inline-flex; }

.reactTest .reactTest-logo {
  height: 30px;
  display: block; }

.reactTest .reactTest-header {
  background-color: #222;
  padding: 40px 0;
  color: white; }
  .reactTest .reactTest-header h2 {
    display: inline-block;
    font-size: 32px;
    font-weight: 400;
    margin: 40px 0 0; }

.reactTest .reactTest-container {
  max-width: 1024px;
  margin: 0 auto; }

.reactTest .reactTest-intro {
  font-size: large; }

.reactTest .reactTest-button {
  border: 1px solid #F88B00;
  display: inline-block;
  padding: 8px 12px 12px;
  color: black;
  text-decoration: none;
  background: #F88B00;
  font-size: 14px;
  font-weight: 600; }
  .reactTest .reactTest-button--neutral {
    background: white; }
  .reactTest .reactTest-button + .reactTest-button {
    margin-left: 8px; }

.reactTest .reactTest-nav > ul {
  list-style: none;
  display: flex;
  flex: 1 1 auto;
  padding: 0; }
  .reactTest .reactTest-nav > ul > li {
    display: block;
    margin-right: 10px; }
    .reactTest .reactTest-nav > ul > li a {
      color: white; }

.reactTest .reactTest-products {
  padding: 0;
  margin: 40px -5px 0 -5px;
  list-style: none;
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap; }
  .reactTest .reactTest-products__item {
    display: block;
    padding: 0 5px;
    width: 25%;
    flex: 0 0 auto;
    overflow: hidden; }
    .reactTest .reactTest-products__item-title {
      text-decoration: none;
      color: black;
      margin: 0;
      padding: 15px;
      height: 100%;
      background-color: #ddd; }
    .reactTest .reactTest-products__item-image img {
      display: block;
      margin: 0;
      padding: 0;
      border: 1px solid #ddd;
      width: 100%;
      height: 120px;
      object-fit: cover; }
    .reactTest .reactTest-products__item > a {
      text-decoration: none; }

.reactTest .reactTest-product-image {
  max-width: 50%; }
  .reactTest .reactTest-product-image img {
    max-width: 100%;
    height: auto; }

.reactTest .reactTest-product-content {
  display: none; }
  .reactTest .reactTest-product-content--show {
    display: block; }

.reactTest .reactTest-grid {
  align-items: stretch;
  align-content: flex-start;
  display: flex; }
  .reactTest .reactTest-grid--inline {
    display: inline-flex; }
  .reactTest .reactTest-grid--negate-padding {
    margin-left: -10px;
    margin-right: -10px; }

.reactTest .reactTest-col {
  flex: 1 1 auto; }
  .reactTest .reactTest-col--no-shrink {
    flex-shrink: 0; }
  .reactTest .reactTest-col--no-grow {
    flex-grow: 0; }
  .reactTest .reactTest-col--padded {
    padding: 0 10px; }
