$prefix: reactTest;
$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$padding-header: 40px;
$color-brand: #F88B00;
$spacing-small: 0.75rem;
$spacing-medium: 1rem;
$spacing-large: 1.75rem;

// Arrays for mixins
$spacing-sizes: [
    [none, 0], 
    [small, $spacing-small], 
    [medium, $spacing-medium], 
    [large, $spacing-large]
];
$spacing-directions: [top, right, bottom, left];