$padding-header: 60px;
$color-brand: #5ADAFD;

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: $padding-header;
    color: white;
}

.App-intro {
    font-size: large;
}

.App-button {
    border: none;
    display: inline-block;
    padding: 8px 12px 12px;
    color: black;
    background: #5ADAFD;
    font-size: 14px;
    + .App-button {
        margin-left: 8px;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
